@if (element) {
  <mat-accordion>
    <mat-expansion-panel class="field-property">
      <mat-expansion-panel-header>
        Préfix
      </mat-expansion-panel-header>
      <app-pre-suffix-config [presuffix]="element.common_configs.preffix"></app-pre-suffix-config>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        Configuration du champ
      </mat-expansion-panel-header>
      <app-field-commons-configs [field]="element.common_configs"></app-field-commons-configs>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="element.discriminator == 'select'">
      <mat-expansion-panel-header>
        Options
      </mat-expansion-panel-header>
      <app-select-field-options-configs [options]="element.options"></app-select-field-options-configs>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Suffix
      </mat-expansion-panel-header>
      <app-pre-suffix-config [presuffix]="element.common_configs.suffix"></app-pre-suffix-config>
    </mat-expansion-panel>
  </mat-accordion>
}
