.sticker {
  border: thin solid black;
  > div {
    display: flex;
    height: 100%;
    max-height: 100%;

    > div {
      max-height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(35, 1fr);
    }
  }

  overflow: hidden;
  position: relative;
}

.full {
  grid-column-start: 1;
  grid-column-end: 36;
}

.half-left {
  grid-column-start: 1;
  grid-column-end: 18;
}

.half-right {
  grid-column-start: 19;
  grid-column-end: 36;
}

.two-thirds-left {
  grid-column-start: 1;
  grid-column-end: 24;
}

.two-thirds-right {
  grid-column-start: 13;
  grid-column-end: 36;
}

.one-third-left {
  grid-column-start: 1;
  grid-column-end: 12;
}

.one-third-right {
  grid-column-start: 25;
  grid-column-end: 36;
}

.forth-left-end {
  grid-column-start: 1;
  grid-column-end: 9;
}

.forth-middle-left {
  grid-column-start: 10;
  grid-column-end: 18;
}

.forth-middle-right {
  grid-column-start: 19;
  grid-column-end: 27;
}

.forth-right-end {
  grid-column-start: 28;
  grid-column-end: 36;
}
