<div class="sticker" *ngIf="sticker">
  <div [style.padding]="StickerService.getPaddings(sticker.global_design.paddings)"
       [style.align-items]="sticker.global_design.text.vertical_alignment"
       [style.background-color]="sticker.global_design.background_color"
       [style.color]="sticker.global_design.text.police.color"
       [style.font-weight]="sticker.global_design.text.bold ? 'bold':'normal'"
       [style.font-style]="sticker.global_design.text.italic ? 'italic':'normal'"
       [style.text-decoration]="sticker.global_design.text.underline ? 'underline':'unset'"
       [style.font-family]="sticker.global_design.text.police.name"
       [style.font-size]="sticker.global_design.text.police.size.toString() + 'px'">
    <div class="sticker-field-full-width">
      @for (element of sticker.fields; track element.common_configs.name) {
        <app-sticker-field [stickerField]="element" [sticker]="sticker" [generation]="generation"></app-sticker-field>
      }
    </div>
  </div>
</div>
