@if (stickerField && sticker) {
  <div
    [style.background-color]="stickerField.common_configs.design.background"
    [style.color]="stickerField.common_configs.design.text.police.color"
    [style.font-weight]="stickerField.common_configs.design.text.bold ? 'bold':stickerField.common_configs.design.text.inherit ? '':'normal'"
    [style.font-style]="stickerField.common_configs.design.text.italic ? 'italic':stickerField.common_configs.design.text.inherit ? '':'normal'"
    [style.text-decoration]="stickerField.common_configs.design.text.underline ? 'underline':stickerField.common_configs.design.text.inherit ? '':'unset'"
    [style.font-family]="stickerField.common_configs.design.text.police.name"
    [style.font-size]="stickerField.common_configs.design.text.police.size === 0 ? '': stickerField.common_configs.design.text.police.size.toString() + 'px'">
    <div *ngIf="!stickerField.common_configs.preffix.inlined"
         [style.padding]="StickerService.getPaddings(stickerField.common_configs.preffix.design.paddings)"
         [style.background-color]="stickerField.common_configs.preffix.design.background"
         [style.color]="stickerField.common_configs.preffix.design.text.police.color"
         [style.font-weight]="stickerField.common_configs.preffix.design.text.bold ? 'bold':stickerField.common_configs.preffix.design.text.inherit ? '':'normal'"
         [style.font-style]="stickerField.common_configs.preffix.design.text.italic ? 'italic':stickerField.common_configs.preffix.design.text.inherit ? '':'normal'"
         [style.text-decoration]="stickerField.common_configs.preffix.design.text.underline ? 'underline':stickerField.common_configs.preffix.design.text.inherit ? '':'unset'"
         [style.text-align]="stickerField.common_configs.preffix.design.text.horizontal_alignment === 'inherit' ? sticker.global_design.text.horizontal_alignment : stickerField.common_configs.preffix.design.text.horizontal_alignment"
         [style.font-family]="stickerField.common_configs.preffix.design.text.police.name"
         [style.font-size]="stickerField.common_configs.preffix.design.text.police.size === 0 ? '': stickerField.common_configs.preffix.design.text.police.size.toString() + 'px'">
      {{stickerField.common_configs.preffix.name}}</div>
    <div class="sticker-field-container"
         [style.align-items]="stickerField.common_configs.design.text.vertical_alignment"
         [style.justify-content]="stickerField.common_configs.design.text.horizontal_alignment === 'inherit' ? sticker.global_design.text.horizontal_alignment : stickerField.common_configs.design.text.horizontal_alignment">
            <span *ngIf="stickerField.common_configs.preffix.inlined && stickerField.common_configs.preffix.name.length > 0"
                  [style.padding]="StickerService.getPaddings(stickerField.common_configs.preffix.design.paddings)"
                  [style.background-color]="stickerField.common_configs.preffix.design.background"
                  [style.color]="stickerField.common_configs.preffix.design.text.police.color"
                  [style.font-weight]="stickerField.common_configs.preffix.design.text.bold ? 'bold':stickerField.common_configs.preffix.design.text.inherit ? '':'normal'"
                  [style.font-style]="stickerField.common_configs.preffix.design.text.italic ? 'italic':stickerField.common_configs.preffix.design.text.inherit ? '':'normal'"
                  [style.text-decoration]="stickerField.common_configs.preffix.design.text.underline ? 'underline':stickerField.common_configs.preffix.design.text.inherit ? '':'unset'"
                  [style.font-family]="stickerField.common_configs.preffix.design.text.police.name"
                  [style.font-size]="stickerField.common_configs.preffix.design.text.police.size === 0 ? '': stickerField.common_configs.preffix.design.text.police.size.toString() + 'px'"
            >{{stickerField.common_configs.preffix.name}}&nbsp;</span>
      <span [style.padding]="StickerService.getPaddings(stickerField.common_configs.design.paddings)"
      >{{StickerService.getFieldText(stickerField, generation)}}</span>
      <span *ngIf="stickerField.common_configs.suffix.inlined && stickerField.common_configs.suffix.name.length > 0"
            [style.padding]="StickerService.getPaddings(stickerField.common_configs.suffix.design.paddings)"
            [style.background-color]="stickerField.common_configs.suffix.design.background"
            [style.color]="stickerField.common_configs.suffix.design.text.police.color"
            [style.font-weight]="stickerField.common_configs.suffix.design.text.bold ? 'bold':stickerField.common_configs.suffix.design.text.inherit ? '':'normal'"
            [style.font-style]="stickerField.common_configs.suffix.design.text.italic ? 'italic':stickerField.common_configs.suffix.design.text.inherit ? '':'normal'"
            [style.text-decoration]="stickerField.common_configs.suffix.design.text.underline ? 'underline':stickerField.common_configs.suffix.design.text.inherit ? '':'unset'"
            [style.font-family]="stickerField.common_configs.suffix.design.text.police.name"
            [style.font-size]="stickerField.common_configs.suffix.design.text.police.size === 0 ? '': stickerField.common_configs.suffix.design.text.police.size.toString() + 'px'"
      >&nbsp;{{stickerField.common_configs.suffix.name}}</span>
    </div>
    <div *ngIf="!stickerField.common_configs.suffix.inlined"
         [style.padding]="StickerService.getPaddings(stickerField.common_configs.suffix.design.paddings)"
         [style.background-color]="stickerField.common_configs.suffix.design.background"
         [style.color]="stickerField.common_configs.suffix.design.text.police.color"
         [style.font-weight]="stickerField.common_configs.suffix.design.text.bold ? 'bold':stickerField.common_configs.suffix.design.text.inherit ? '':'normal'"
         [style.font-style]="stickerField.common_configs.suffix.design.text.italic ? 'italic':stickerField.common_configs.suffix.design.text.inherit ? '':'normal'"
         [style.text-decoration]="stickerField.common_configs.suffix.design.text.underline ? 'underline':stickerField.common_configs.suffix.design.text.inherit ? '':'unset'"
         [style.text-align]="stickerField.common_configs.suffix.design.text.horizontal_alignment === 'inherit' ? stickerField.common_configs.suffix.design.text.horizontal_alignment : stickerField.common_configs.suffix.design.text.horizontal_alignment"
         [style.font-family]="stickerField.common_configs.suffix.design.text.police.name"
         [style.font-size]="stickerField.common_configs.suffix.design.text.police.size === 0 ? '': stickerField.common_configs.suffix.design.text.police.size.toString() + 'px'">
      {{stickerField.common_configs.suffix.name}}
    </div>
  </div>
}
