.two-elements-per-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6%;

  mat-form-field {
    flex-basis: 47%;
    width: 100%;
  }

  div {
    width: 100%;
    margin-bottom: 22px;
  }

  div:last-child {
    margin-bottom: 0;
  }
}

.sticker-name {
  width: 100%;
}

.color-selctors {
  display: flex;
  gap: 20px;
}


