@if (design) {
  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Configurer le style">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before" class="menu">
    <div (click)="$event.stopPropagation()">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Espacement
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="two-elements-per-row">
            <mat-form-field appearance="outline">
              <mat-label>Haut</mat-label>
              <input matInput type="number" [(ngModel)]="design.paddings.top">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Bas</mat-label>
              <input matInput type="number" [(ngModel)]="design.paddings.bottom">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Gauche</mat-label>
              <input matInput type="number" [(ngModel)]="design.paddings.left">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Droite</mat-label>
              <input matInput type="number" [(ngModel)]="design.paddings.right">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Positionnement
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-choose-position [element]="design"></app-choose-position>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Texte
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="two-elements-per-row-thirds">
            <mat-form-field appearance="outline">
              <mat-label>Police</mat-label>
              <mat-select [(ngModel)]="design.text.police.name" [style.color]="design.text.police.name === null ? 'gray':''">
                <mat-option [value]="null">Par défaut</mat-option>
                <mat-option [value]="font" *ngFor="let font of fontList">{{ font }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Taille</mat-label>
              <input matInput type="number" [(ngModel)]="design.text.police.size"  [style.color]="design.text.police.size === 0 ? 'gray':''">
            </mat-form-field>
            <div>
              <mat-button-toggle-group multiple="true" class="no-check" hideMultipleSelectionIndicator>
                <mat-button-toggle matTooltip="Gras"
                                   [checked]="design.text.bold"
                                   (change)="design.text.bold = $event.source.checked">
                  <mat-icon>format_bold</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Italique"
                                   [checked]="design.text.italic"
                                   (change)="design.text.italic = $event.source.checked">
                  <mat-icon>format_italic</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Souligné"
                                   [checked]="design.text.underline"
                                   (change)="design.text.underline = $event.source.checked">
                  <mat-icon>format_underline</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Hérité"
                                   [checked]="design.text.inherit"
                                   (change)="design.text.inherit = $event.source.checked">
                  <mat-icon *ngIf="design.text.inherit">file_download</mat-icon>
                  <mat-icon *ngIf="!design.text.inherit">file_download_off</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *ngIf="!disableHorizontalAlignment">
              <mat-button-toggle-group class="no-check" hideSingleSelectionIndicator [(ngModel)]="design.text.horizontal_alignment">
                <mat-button-toggle matTooltip="Aligné à gauche" value="left">
                  <mat-icon>format_align_left</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Centré" value="center">
                  <mat-icon>format_align_center</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Aligné à droite" value="right">
                  <mat-icon>format_align_right</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Hérité" value="inherit">
                  <mat-icon *ngIf="design.text.horizontal_alignment === 'inherit'">file_download</mat-icon>
                  <mat-icon *ngIf="design.text.horizontal_alignment !== 'inherit'">file_download_off</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *ngIf="!disableVerticalAlignment">
              <mat-button-toggle-group class="no-check" hideSingleSelectionIndicator [(ngModel)]="design.text.vertical_alignment">
                <mat-button-toggle matTooltip="Aligné verticalement en haut" value="flex-start">
                  <mat-icon>align_vertical_top</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Aligné verticalement au centre" value="center">
                  <mat-icon>align_vertical_center</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Aligné verticalement en bas" value="baseline">
                  <mat-icon>align_vertical_bottom</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="color-selctors">
              <ngx-colors ngx-colors-trigger [(ngModel)]="design.background" matTooltip="Couleur de fond"></ngx-colors>
              <ngx-colors ngx-colors-trigger [(ngModel)]="design.text.police.color" matTooltip="Couleur de texte"></ngx-colors>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-menu>
}

