.position-selection {
  display: flex;
  flex-direction: column;
  > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: nowrap;
    margin-bottom: 3px;

    div:hover {
      cursor: pointer;
      background-color: #6776ec;
    }

    div {
      height: 25px;
      border-radius: 5px;
      border: solid 1px #9b9b9b;
      flex-grow: 1;
    }

    div.two-thirds {
      flex-grow: 2;
    }
  }
}

.selected-position {
  background-color: #3f51b5;
}
