<div class="main-container">
  <div class="left-side-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configurations globales
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-general-sticker-configs [sticker]="sticker"></app-general-sticker-configs>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fonds
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div cdkScrollable>
        <mat-accordion class="field-container" cdkDropList (cdkDropListDropped)="dropBackground($event)" [cdkDropListAutoScrollStep]="5">
          @for (background of sticker.global_design.backgrounds; track background) {
            @if (background.discriminator === 'color') {
              <mat-expansion-panel cdkDrag class="field-mat-card" hideToggle>
                <mat-expansion-panel-header cdkDragHandle class="dg-handle field-mat-panel-header">
                  <mat-panel-title>
                    <mat-icon>palette</mat-icon> {{ background.name }} (Couleur)
                  </mat-panel-title>
                  <button mat-icon-button (click)="removeBackground(background)">
                    <mat-icon>clear</mat-icon>
                  </button>
                </mat-expansion-panel-header>
                <app-color-configs [color]="background"></app-color-configs>
              </mat-expansion-panel>
            } @else {
              <mat-expansion-panel cdkDrag class="field-mat-card" hideToggle>
                <mat-expansion-panel-header cdkDragHandle class="dg-handle field-mat-panel-header">
                  <mat-panel-title>
                    <mat-icon>insert_photo</mat-icon> {{ background.name }} (Image)
                  </mat-panel-title>
                  <button mat-icon-button (click)="removeBackground(background)">
                    <mat-icon>clear</mat-icon>
                  </button>
                </mat-expansion-panel-header>
                <app-image-config [image]="background" [background]="true"></app-image-config>
              </mat-expansion-panel>
            }
          }
        </mat-accordion>
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menuBackground">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menuBackground="matMenu">
          <button mat-menu-item (click)="addBackground('color')">Couleur</button>
          <button mat-menu-item (click)="addBackground('image')">Image</button>
        </mat-menu>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="fields-mat-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Création des champs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div cdkScrollable>
        <mat-accordion class="field-container" cdkDropList (cdkDropListDropped)="dropItem($event)" [cdkDropListAutoScrollStep]="5">
          @for (element of sticker.fields; track element) {
            <mat-expansion-panel cdkDrag class="field-mat-card" hideToggle>
              <mat-expansion-panel-header cdkDragHandle class="dg-handle field-mat-panel-header">
                <mat-panel-title>
                  <mat-icon>{{getIconForFieldType(element.discriminator)}}</mat-icon> {{ element.common_configs.name }} ({{ getFieldType(element.discriminator) }})
                </mat-panel-title>
                <button mat-icon-button (click)="removeField(element)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-expansion-panel-header>
              <app-sticker-field-configs [element]="element"></app-sticker-field-configs>
            </mat-expansion-panel>
          }
        </mat-accordion>
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addItem('text')">Texte</button>
          <button mat-menu-item (click)="addItem('date')">Date</button>
          <button mat-menu-item (click)="addItem('select')">Sélection</button>
          <button mat-menu-item (click)="addItem('number')">Nombre</button>
          <button mat-menu-item (click)="addItem('image')">Image</button>
          <button mat-menu-item (click)="addItem('color')">Color</button>
        </mat-menu>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="right-side-container">
    <mat-card class="mat-card-form-example">
      <mat-card-header>
        <mat-card-title>
          Exemple de formulaire généré
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-sticker-generation-form [sticker]="sticker.fields"></app-sticker-generation-form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Exemple de sticker
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-sticker [sticker]="sticker"></app-sticker>
      </mat-card-content>
    </mat-card>
  </div>
</div>
