<div class="main-container">
  <div class="left-side-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configurations globales
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-general-sticker-configs [sticker]="sticker"></app-general-sticker-configs>
    </mat-expansion-panel>
    <mat-expansion-panel class="fields-mat-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Création des champs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div cdkScrollable>
        <mat-accordion class="field-container" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListAutoScrollStep]="5">
          @for (element of sticker.fields; track element) {
            <mat-expansion-panel cdkDrag class="field-mat-card" hideToggle>
              <mat-expansion-panel-header cdkDragHandle class="dg-handle field-mat-panel-header">
                <mat-panel-title>
                  <mat-icon>{{getIconForFieldType(element.discriminator)}}</mat-icon> {{ element.common_configs.name }} ({{ getFieldType(element.discriminator) }})
                </mat-panel-title>
                <button mat-icon-button (click)="removeField(element)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-expansion-panel-header>
              <mat-accordion>
                <mat-expansion-panel class="field-property">
                  <mat-expansion-panel-header>
                    Préfix
                  </mat-expansion-panel-header>
                  <app-pre-suffix-config [presuffix]="element.common_configs.preffix"></app-pre-suffix-config>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    Configuration du champ
                  </mat-expansion-panel-header>
                  <app-field-commons-configs [field]="element.common_configs"></app-field-commons-configs>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="element.discriminator == 'select'">
                  <mat-expansion-panel-header>
                    Options
                  </mat-expansion-panel-header>
                  <app-select-field-options-configs [options]="element.options"></app-select-field-options-configs>
                </mat-expansion-panel>


                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Suffix
                  </mat-expansion-panel-header>
                  <app-pre-suffix-config [presuffix]="element.common_configs.suffix"></app-pre-suffix-config>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          }
        </mat-accordion>
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addItem('text')">Texte</button>
          <button mat-menu-item (click)="addItem('date')">Date</button>
          <button mat-menu-item (click)="addItem('select')">Sélection</button>
          <button mat-menu-item (click)="addItem('number')">Nombre</button>
        </mat-menu>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="right-side-container">
    <mat-card class="mat-card-form-example">
      <mat-card-header>
        <mat-card-title>
          Exemple de formulaire généré
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-sticker-generation-form [sticker]="sticker.fields"></app-sticker-generation-form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Exemple de sticker
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-sticker [sticker]="sticker"></app-sticker>
      </mat-card-content>
    </mat-card>
  </div>
</div>
